body {
  background-color: #f2f4f8;
  margin: 0;
  padding: 0;
}
#btn1 {
  width: 100%;
  background-color: #a0d231;
  border: none;
  height: 40px;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
#wrapper-2 {
  border-radius: 0;
  margin: 10 auto auto auto;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: auto;
  z-index: 1;
  /* max-height: auto; */
  background-color: #f2f4f8;
  justify-content: center;
  justify-items: center;
  width: 100%;
}
#form-containers {
  padding: 20px;
  border-radius: 0;
  width: 70%;
  grid-row: 4;
  grid-column: 2/4;
  margin: -50px auto 0px auto;
}
.jumbotron {
  background-color: #fff;
}

.img {
  width: 100%;
  text-align: center;
  grid-column: 2/4;
  position: relative;
}
img {
  width: 30%;
}

h3 {
  margin-top: 0%;
}
#forms {
  margin-top: 10%;
}
#links {
  display: block;
  width: auto;
  text-align: center;
}

@media only screen and (max-width: 415px) {
  /* For mobile phones: */
  #wrapper-2 {
    display: grid;
    grid-template-columns: 1fr;
    height: 500px;
  }
  #form-containers {
    grid-column: 1;
    height: auto;
  }
}

.loanType {
  font-weight: bold;
  margin: 10px;
}
